<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org" 
th:replace="layouts/main-layout::layout(~{::div})">
<head>

</head>

<style>


</style>

<body>
<div><br><br><br><br>
<div class="canle">
  <section>
    <center><h2>Giới thiệu</h2></center>
    <center><hr  width="30%" align="center" /></center>
    <p>
      Chào mừng bạn đến với trang web Tuyển sinh! Chúng tôi cung cấp một nền tảng để bạn có thể tìm kiếm thông tin về các trường đại học, cao đẳng và ngành học phù hợp với mong muốn và sở thích của bạn.
    </p>
    <p>
      Trang web của chúng tôi giúp bạn khám phá các chương trình đào tạo, thông tin về các trường, yêu cầu tuyển sinh và nhiều thông tin hữu ích khác để giúp bạn đưa ra quyết định tốt nhất cho tương lai học tập của mình.
    </p>
  </section>

  <section>
    <center><h2>Tìm kiếm trường và ngành học</h2></center>
    <center><hr  width="30%" align="center" /></center>
    <p>
      Sử dụng công cụ tìm kiếm của chúng tôi để tìm các trường và ngành học phù hợp với bạn. Bạn có thể tìm kiếm theo khu vực, ngành học, mức độ học và nhiều tiêu chí khác để thu hẹp danh sách các lựa chọn.
    </p>
    <p>
      Chúng tôi cung cấp thông tin chi tiết về từng trường, bao gồm cơ sở vật chất, chương trình đào tạo, cơ hội nghiên cứu và sự phát triển sự nghiệp sau khi tốt nghiệp. Bạn cũng có thể tìm hiểu về yêu cầu tuyển sinh, hồ sơ đăng ký và thông tin về học phí và hỗ trợ tài chính.
    </p>
  </section>

  <section>
    <center><h2>Tư vấn và Hỗ trợ</h2></center>
    <center><hr  width="30%" align="center" /></center>
    <p>
      Nếu bạn có bất kỳ câu hỏi nào hoặc cần tư vấn về việc chọn trường và ngành học, chúng tôi cung cấp dịch vụ tư vấn để hỗ trợ bạn. Đội ngũ tư vấn của chúng tôi sẵn sàng trợ giúp và giải đáp mọi thắc mắc của bạn để đảm bảo bạn có thông tin đầy đủ và chính xác.
    </p>
    <p>
      Hãy liên hệ với chúng tôi qua số điện thoại hoặc email để được tư vấn và hỗ trợ tốt nhất.
    </p>
  </section>

 <br>
 <br>
  </div>
  </div>
</body>
</html>